<h2 class="screen-align">Savescreen</h2>
<div id="template-ih3v" class="row">
    <div id="template-ipmb" class="cell">
        <label id="template-igo8" class="label">Label</label>
        <input id="template-i7w2" class="input form-control" />
        <button id="template-iyh7l" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-iyq5" class="cell">
        <label id="template-i6lx" class="label">Label</label>
        <input id="template-iivgj" class="input form-control" />
    </div>
    <div id="template-it2d" class="cell">
        <label id="template-ionf" class="label">Label</label>
        <input id="template-i4mxs" class="input form-control" />
    </div>
</div>